@charset "UTF-8";

/* Omeka */
#user-bar {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background-color: #404E61;
    padding: 6px 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

#user-bar .logout,
#user-bar .login {
    font-size: 12px;
    padding: 0 6px;
    background-color: #222933;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    margin-left: 12px;
}

#user-bar a {
    color: #bdcde3;
    background-color: transparent;
    text-decoration: inherit;
}

#user-bar a:hover {
    text-decoration: underline;
}

#user-bar .login {
    margin-left: auto;
}
