<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation $resource
 * @var \ContactUs\Form\ContactUsForm $form
 * @var string $heading
 * @var string $html
 * @var string $message
 * @var string $status "success" or "error"
 * @var string $contact "us" or "author"
 */

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');

$formText = $plugins->get('formText');
$formRow = $plugins->get('formRow');
$formEmail = $plugins->get('formEmail');
/** @var \Laminas\Form\View\Helper\FormLabel $formLabel */
$formLabel = $plugins->get('formLabel');
$formHidden = $plugins->get('formHidden');
$formTextarea = $plugins->get('formTextarea');
$formCheckbox = $plugins->get('formCheckbox');

$themeFunctions = $plugins->get('ThemeFunctions');

$element = null;
$themeFunctions->appendVarsToRootView(['status' => $status, 'message' => $message]);
?>

<?php /*
<?php if ($message): ?>
<p class="explanation <?= $status ?>"><?= $message ?></p>
<?php endif; ?>
*/ ?>

<?php if (!$form) return;

    $form->get('name')
        ->setLabel('Prénom Nom')
        ->setAttribute('required', 'required')
        ->setLabelAttributes(['class' => 'required'])
        ->setAttribute('placeholder', 'Jean Dupont');
    $form->get('from')
        // ->setLabel('Mail' . ' <span class="required">*</span>')->setLabelOptions(['disable_html_escape' => true])
        ->setLabel('Courriel')
        ->setAttribute('placeholder', 'jean@dupont.fr');
    $form->get('message')
        ->setLabel('Posez votre question');
    $form->get('submit')
        ->setAttribute('class', 'form-button submit-button')
        ->setValue('Envoyer');
    $user = $this->identity();
?>

<?= $this->form()->openTag($form->setAttribute('class', 'limited-access-form')) ?>
    <?php if ($user): ?>
    <div>
        <?php if ($form->has('name')): ?>
        <?= $formHidden($form->get('name')) ?>
        <?php endif; ?>
        <?php if ($form->has('from')): ?>
        <?= $formHidden($form->get('from')) ?>
        <?php endif; ?>
        <p>
            <?= $escape(sprintf($translate('Message de %s (%s)'), $user->getName(), $user->getEmail())) ?>
        </p>
    </div>
    <?php else: ?>
    <div>
        <?= $formLabel($element = $form->get('name')) ?>
        <?= $formText($element) ?>
    </div>
    <div>
        <?= $formLabel($element = $form->get('from')) ?>
        <?= $formEmail($element) ?>
    </div>
    <?php endif ?>

    <?php // Pas de sujet. ?>

    <?php // Pas de fichier. ?>

    <?php $element = $form->get('message'); ?>
    <div>
        <?= $formLabel($element->setLabel('Posez votre question')); ?>
        <?= $formTextarea($element); ?>
    </div>

    <?php if ($form->has('answer')): ?>
    <div class="contact-accept-answer">
        <?= $formLabel($element = $form->get('answer')) ?>
        <?= $formText($element) ?>
        <?= $formHidden($form->get('check')) ?>
    </div>
    <?php endif; ?>

    <?php if ($form->has('consent')): ?>
        <?php $element = $form->get('consent'); ?>
        <?php if ($user || $element instanceof \Laminas\Form\Element\Hidden): ?>
    <?= $formHidden($element) ?>
        <?php else: ?>
    <div class="contact-accept-checkbox">
        <?= $formCheckbox($element) ?>
        <?= $formLabel($element) ?>
    </div>
        <?php endif; ?>
    <?php endif; ?>

    <ul class="form-buttons">
        <li><button type="submit" class="form-button submit-button"><?= $escape($translate('Envoyer')) ?></a></li>
    </ul>
    <?php
    foreach ($form->getElements() as $element):
        if ($element instanceof \Laminas\Form\Element\Csrf || $element instanceof \Laminas\Form\Element\Hidden):
            echo $formRow($element);
        endif;
    endforeach;
    ?>
<?= $this->form()->closeTag() ?>
