<aside class="aside-interrogation">
    <div class="aside-content">
        <h4>Comment déposer un document&nbsp;?</h4>
        <p class="aside-download-link">
            <a href="">Télécharger l’aide</a>
        </p>
        <ul>
            <li><span>Cliquez sur <strong>« DÉPOSER UN DOCUMENT »</strong></span></li>
            <li><span><strong>Identifiez-vous</strong> avec vos identifiants ENT</span></li>
            <li><span>Sélectionnez <strong>le type de document</strong> « Thèse »</span></li>
            <li><span><strong>Saisissez les informations</strong> correspondant à votre dépôt dans l’<strong>onglet Détails</strong></span></li>
            <li><span><strong>Téléchargez le(s) fichier(s)</strong> correspondant de votre thèse</span></li>
            <li><span>Choisissez les <strong>mots sujets</strong> correspondant à votre sujet de recherche dans l’<strong>onglet Sujet</strong></span></li>
            <li><span><strong>Pré-visualisez</strong> et <strong>validez</strong> votre dépôt</span></li>
        </ul>
        <p class="aside-more-link">
            <a href="">EN SAVOIR PLUS</a>
        </p>
    </div>
</aside>
