<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Entity\User|null $user
 * @var \Contribute\Form\ContributeForm $form
 * @var \AdvancedResourceTemplate\Api\Representation\ResourceTemplateRepresentation|null $resourceTemplate
 * @var \Contribute\Api\Representation\ContributionRepresentation|null $contribution
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation|null $resource
 * @var array $fields
 * @var \Omeka\Api\Representation\ResourceTemplateRepresentation|null $templateMedia A sub template for media may have no fields.
 * @var array $fieldsByMedia
 * @var array $fieldsMediaBase
 * @var string $action "add" or "edit" or "show"
 * @var string $mode "read" (for template select or for show readonly form before submit) or "write"
 * @var string $space "default" or "guest"
 *
 * @var ?int $etape
 */

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$partial = $plugins->get('partial');
$setting = $plugins->get('setting');
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$themeFunctions = $plugins->get('ThemeFunctions');
$contributionForm = $plugins->get('contributionForm');

$siteSlug = $site->slug();

$this->htmlElement('body')->appendAttribute('class', 'edit contribution ' . $this->params()->fromRoute('resource') . ' resource');

$steps = $themeFunctions->currentProcess($action, $contribution ?? null, $fields ?? null, $mode ?? 'write');
$this->vars()->offsetSet('steps', $steps);

$ariane = '<nav class="breadcrumbs content-with-margin">
    <ul>
        <li><a href="' . $url('site', ['site-slug' => $siteSlug]) . '">' . $escape($translate('Accueil')) . '</a></li>
        <li><a href="' . $url('site/contribution', ['resource' => 'contribution'], true) . '">' . $escape($translate('Nouveau dépôt')) . '</a></li>
<!--
        <li><span>' . $escape('Nouveau dépôt') . '</span></li>
-->
        <li><span>'
        . ($action === 'add'
            ? ($steps['stepNumber'] === 1 ? $escape($translate('Type de document')) : $escape($translate('Détails')))
            : ($steps['stepNumber'] === 3 ? $escape($translate('Téléchargement')) : $escape($translate('Détails')))
        ) . '</span></li>
    </ul>
</nav>';

$themeFunctions->appendVarsToRootView([
    'ariane' => $ariane,
    'mainClass' => 'depot-content depot-form-' . $steps['stepNumber'],
]);

$template = $contribution ? $contribution->resourceTemplate() : null;
$asideThese = $template && strtolower($template->label()) === 'thèse' ? '_these' : '';
?>

<?= $this->themeSetting('contribution_help_aside_' . $steps['step'] . $asideThese) ?: $this->partial('contribute/site/contribution/aside') ?>

<div class="container content etape-courante-<?= $steps['stepNumber'] ?>">
    <div class="messages">
        <?= $this->messages() ?>
    </div>
    <?php if (count($fields) && $form):
        // The two lists of fields are merged in one form by default.
        $this->trigger("view.$action.before");
        echo $partial('contribute/site/contribution/form', [
            'site' => $site,
            'user' => $user,
            'form' => $form,
            'resourceTemplate' => $resourceTemplate,
            'contribution' => $contribution,
            'resource' => $resource,
            'fields' => $fields,
            'templateMedia' => $templateMedia,
            'fieldsByMedia' => $fieldsByMedia,
            'fieldsMediaBase' => $fieldsMediaBase,
            'action' => $action,
            'mode' => $mode,
            'space' => $space,
            'submitLabel' => $action === 'add' && $setting('contribute_allow_update') !== 'no' ? $translate('Add') : $translate('Submit'),
            'cancelLabel' => $translate('Cancel'),
            'isMainForm' => true,
            'skipContributeCss' => true,
            'steps' => $steps,
        ]);
        $this->trigger("view.$action.after");

    elseif ($action === 'add' && $form): // First step form to select a resource template.
        $escapeAttr = $plugins->get('escapeHtmlAttr');
        $formElement = $plugins->get('formElement');
        /** @var \Laminas\Form\Element\Radio $template */
        $form->prepare();
        $template = $form->get('template')
            ->setAttribute('required', 'required')
            ->setLabel(' ');
        $templateId = $template->getValue();
        $this->vars()->offsetSet('stepPart', 'top');
        ?>
        <?= $partial('contribute/site/contribution/steps') ?>
        <?= $this->form()->openTag($form) ?>
        <h2 for="template"><?= $escape($translate('1. Type de document')) ?></h2>
        <fieldset class="form-content"<?= $mode === 'read' ? ' disabled="disabled"' : '' ?>>
            <ul class="form-radio-buttons">
                <?php foreach ($form->getTemplates() as $selectTemplateId => $selectTemplateLabel): ?>
                <li>
                    <label>
                        <input id="template" type="radio" name="template" value="<?= $escapeAttr($selectTemplateId) ?>" <?= $templateId ? 'readonly="readonly"' : 'required="required"' ?> <?= $selectTemplateId === $templateId ? 'checked="checked"' : '' ?>/>
                        <span><?= $escape($selectTemplateLabel) ?></span>
                    </label>
                </li>
                <?php endforeach; ?>
            </ul>
        </fieldset>
        <?= $formElement($form->get('step')) ?>
        <?= $formElement($form->get('next')) ?>
        <?= $formElement($form->get('mode')->setValue($mode)) ?>
        <?= $formElement($form->get('csrf')) ?>
        <?= $this->form()->closeTag() ?>
        <?php $this->vars()->offsetSet('stepPart', 'bottom'); ?>
        <?= $partial('contribute/site/contribution/steps') ?>
        <?php

    else: ?>
    <div class="messages">
        <p><?= $translate('A template with fields is required to edit this resource. Ask the administrator for more information.') ?></p>
    </div>
    <?php endif; ?>
</div>
