<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Entity\User|null $user
 * @var \Contribute\Form\ContributeForm $form
 * @var \AdvancedResourceTemplate\Api\Representation\ResourceTemplateRepresentation|null $resourceTemplate
 * @var \Contribute\Api\Representation\ContributionRepresentation|null $contribution
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation|null $resource
 * @var array $fields
 * @var \Omeka\Api\Representation\ResourceTemplateRepresentation|null $templateMedia A sub template for media may have no fields.
 * @var array $fieldsByMedia
 * @var array $fieldsMediaBase
 * @var string $action "add" or "edit" or "show"
 * @var string $mode "read" (for template select or for show readonly form before submit) or "write"
 * @var string $space "default" or "guest"
 *
 * @var string $submitLabel
 * @var string $cancelLabel
 * @var bool $isMainForm
 * @var bool $skipContributeCss
 *
 * When called recursively for sub-fields (media):
 * @var ?int $indexMedia
 * @var array $fieldsMedia
 *
 * @var \Laminas\View\HelperPluginManager $plugins
 * @var \Laminas\View\Helper\Url $url
 * @var \Laminas\View\Helper\Partial $partial
 * @var \Laminas\View\Helper\EscapeHtml $escape
 * @var \Laminas\I18n\View\Helper\Translate $translate
 * @var \Laminas\View\Helper\EscapeHtmlAttr $escapeAttr
 * @var \Omeka\Api\Manager $apiManager
 * @var \Common\Stdlib\EasyMeta $easyMeta
 * @var array $valueResourceTypes
 * @var array $valueResourceQueries
 * @var callable $shortResourceTitle
 * @var string $baseUrlFiles
 * @var string $mode
 */

// Templates for the fields according to the datatype.
// They are outside the template form and marked readonly to not be included in the form.
// The names are updated through js, so don't need to check for main form or sub form.

$moduleManager = $site->getServiceLocator()->get('Omeka\ModuleManager');
$hasValueSuggest = ($module = $moduleManager->getModule('ValueSuggest')) && $module->getState() === \Omeka\Module\Manager::STATE_ACTIVE;
$hasNumericDataTypes = ($module = $moduleManager->getModule('NumericDataTypes')) && $module->getState() === \Omeka\Module\Manager::STATE_ACTIVE;

$args = $this->vars()->getArrayCopy();
$args['field'] = ['template_property' => null, 'required' => false];
$args['term'] = 'field-to-set';
$args['indexFieldInput'] = 0;
$args['property'] = null;
$args['value'] = null;
$args['fieldContribution'] = ['type' => null, 'original' => [], 'proposed' => []];
$args['indexContribution'] = null;
$args['readonly'] = true;
?>

<div id="edit_template_value" class="contribute_template value" style="display:none;">
    <?= $partial('contribute/site/contribution/form-input-literal', $args) ?>
</div>

<div id="edit_template_value_person" class="contribute_template value" style="display:none;">
    <?= $partial('contribute/site/contribution/form-input-literal-person', $args) ?>
</div>

<div id="edit_template_resource" class="contribute_template resource" style="display:none;">
    <li class="value resource">
        <select class="form-control input-value" data-value-key="@resource" name="dcterms:title[__INDEX__][@resource]" aria-labelledby="property-__PROPERTYID__-label" readonly="readonly"><option value=""></option></select>
    </li>
    <ul class="actions resource-edit-remove-value">
        <li><button type="button" class="o-icon-delete remove-value" title="<?= $escapeAttr($translate('Remove value')) ?>" href="#" aria-label="<?= $escapeAttr($translate('Remove value')) ?>"></button></li>
    </ul>
</div>

<div id="edit_template_uri" class="contribute_template uri" style="display:none;">
    <?= $partial('contribute/site/contribution/form-input-uri', $args) ?>
</div>

<div id="edit_template_media-file" class="contribute_template media" style="display:none;">
    <?= $partial('contribute/site/contribution/form-input-media-file', $args) ?>
</div>

<?php if ($hasNumericDataTypes): ?>
<div id="edit_template_numeric-integer" class="contribute_template value" style="display:none;">
    <?= $partial('contribute/site/contribution/form-input-numeric-integer', $args) ?>
</div>
<div id="edit_template_numeric-timestamp" class="contribute_template value" style="display:none;">
    <?= $partial('contribute/site/contribution/form-input-numeric-timestamp', $args) ?>
</div>
<?php endif; ?>

<?php if ($easyMeta->dataTypeMainCustomVocabs()): ?>
<div id="edit_template_customvocab" class="contribute_template custom_vocab" style="display:none;">
    <li class="value custom_vocab" data-basetype="literal">
        <select class="form-control input-value" data-value-key="@value" name="dcterms:title[__INDEX__][@value]" aria-labelledby="property-__PROPERTYID__-label" readonly="readonly"><option value=""></option></select>
        <ul class="actions resource-edit-remove-value">
            <li><button type="button" class="o-icon-delete remove-value" title="<?= $escapeAttr($translate('Remove value')) ?>" href="#" aria-label="<?= $escapeAttr($translate('Remove value')) ?>"></button></li>
        </ul>
    </li>
    <li class="value custom_vocab" data-basetype="resource">
        <select class="form-control input-value" data-value-key="@resource" name="dcterms:title[__INDEX__][@resource]" aria-labelledby="property-__PROPERTYID__-label" readonly="readonly"><option value=""></option></select>
        <ul class="actions resource-edit-remove-value">
            <li><button type="button" class="o-icon-delete remove-value" title="<?= $escapeAttr($translate('Remove value')) ?>" href="#" aria-label="<?= $escapeAttr($translate('Remove value')) ?>"></button></li>
        </ul>
    </li>
    <li class="value custom_vocab" data-basetype="uri">
        <select class="form-control input-value" data-value-key="@uri" name="dcterms:title[__INDEX__][@uri]" aria-labelledby="property-__PROPERTYID__-label" readonly="readonly"><option value=""></option></select>
        <ul class="actions resource-edit-remove-value">
            <li><button type="button" class="o-icon-delete remove-value" title="<?= $escapeAttr($translate('Remove value')) ?>" href="#" aria-label="<?= $escapeAttr($translate('Remove value')) ?>"></button></li>
        </ul>
    </li>
</div>
<?php endif; ?>

<?php if ($hasValueSuggest): ?>
<div id="edit_template_valuesuggest" class="contribute_template value_suggest" style="display:none;">
    <?= $partial('contribute/site/contribution/form-input-value-suggest', $args) ?>
</div>
<?php endif; ?>
