<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Entity\User|null $user
 * @var \Contribute\Form\ContributeForm $form
 * @var \AdvancedResourceTemplate\Api\Representation\ResourceTemplateRepresentation|null $resourceTemplate
 * @var \Contribute\Api\Representation\ContributionRepresentation|null $contribution
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation|null $resource
 * @var array $fields
 * @var \Omeka\Api\Representation\ResourceTemplateRepresentation|null $templateMedia A sub template for media may have no fields.
 * @var array $fieldsByMedia
 * @var array $fieldsMediaBase
 * @var string $action "add" or "edit" or "show"
 * @var string $mode "read" (for template select or for show readonly form before submit) or "write"
 * @var string $space "default" or "guest"
 *
 * @var string $submitLabel
 * @var string $cancelLabel
 * @var bool $isMainForm
 * @var bool $skipContributeCss
 *
 * When called recursively for sub-fields (media):
 * @var ?int $indexMedia
 * @var array $fieldsMedia
 *
 * @var \Laminas\View\HelperPluginManager $plugins
 * @var \Laminas\View\Helper\Url $url
 * @var \Laminas\View\Helper\Partial $partial
 * @var \Laminas\View\Helper\EscapeHtml $escape
 * @var \Laminas\I18n\View\Helper\Translate $translate
 * @var \Laminas\View\Helper\EscapeHtmlAttr $escapeAttr
 * @var \Omeka\Api\Manager $apiManager
 * @var \Common\Stdlib\EasyMeta $easyMeta
 * @var array $valueResourceTypes
 * @var array $valueResourceQueries
 * @var callable $shortResourceTitle
 * @var string $baseUrlFiles
 * @var string $mode
 *
 * @var array $field
 * @var string $term
 * @var int $indexFieldInput
 * @var ?\Omeka\Api\Representation\ResourceTemplatePropertyRepresentation $templateProperty
 * @var ?\Omeka\Api\Representation\PropertyRepresentation $property
 * @var ?\Omeka\Api\Representation\ValueRepresentation $value
 * @var ?array $fieldContribution
 * @var ?int $indexContribution
 * @var bool $readonly
 * @var ?string $baseType
 *
 * @uses \CustomVocab\DataType\CustomVocab
 */

$original = $fieldContribution['original'];
$proposed = $fieldContribution['proposed'];
$isPrivate = $value ? !$value->isPublic() : (isset($templateProperty) ? $templateProperty->isPrivate() : false);
$isRequired = !empty($field['required']) && (($indexContribution ?? null) === 0);

$class = ['value', 'custom_vocab'];
if ($isPrivate) {
    $class[] = 'private';
}
$language = isset($proposed['@value']) ? null : (isset($original['value']) ? $original['value']->lang() : null);

// Use the standard select, except for thesaurus.
// Manage hierarchical list (via module Thesaurus).
$mainType = $easyMeta->dataTypeMainCustomVocab($fieldContribution['type']);
$customVocabId = (int) substr($fieldContribution['type'], 12);
$customVocab = $customVocabId ? $apiManager->read('custom_vocabs', ['id' => $customVocabId])->getContent() : null;
$customVocabType = $baseType ?? $mainType ?? 'literal';
$typeName = $customVocabType === 'literal' ? 'value' : $customVocabType;
$isCustomVocabThesaurus = $customVocab
    && $mainType === 'resource'
    && $plugins->has('thesaurus')
    && ($itemSet = $customVocab->itemSet())
    && ($itemSetClass = $itemSet->resourceClass())
    && in_array($itemSetClass->term(), ['skos:Collection', 'skos:OrderedCollection']);
if ($isCustomVocabThesaurus) {
    $thesaurus = $plugins->get('thesaurus')($itemSet);
    $select = $thesaurus->asSelect(['output_type' => 'listTree', 'indent' => '– ', 'empty_option' => ''])
        ->setName('customvocab')
        ->setAttributes([
            'data-value-key' => 'value_resource_id',
            'class' => 'terms to-require',
        ]);
    $selectHtml = $this->formSelect($select);
} elseif ($mainType) {
    $selectHtml = (new \CustomVocab\DataType\CustomVocab($customVocab))->form($this);
} else {
    $customVocab = null;
    $selectHtml = '<select name="' . $fieldContribution['type'] . '"></select>';
}

$name = $isMainForm
    ? sprintf('%s[%s][@%s]', $term, $indexFieldInput, $typeName)
    : sprintf('media[%s][%s][%s][@%s]', $indexMedia, $term, $indexFieldInput, $typeName);

$replace = [
    'name="customvocab"' => 'name="' . $name . '"',
    'class="terms&#x20;to-require"' => 'class="form-control customvocab-input chosen-select"'
        . ' aria-labelledby="property-' . ($property ? $property->id() : '__PROPERTYID__') . '-label"'
        . ' data-placeholder="' . $escapeAttr($translate('Select a value…')) . '"'
        . ($isRequired ? ' required="required"' : '')
        . (empty($readonly) ? '' : ' readonly="readonly"'),
    '"value_resource_id"' => '"@resource"',
    '"@id"' => '"@uri"',
];

$val = $proposed['@' . $typeName] ?? $original['@' . $typeName] ?? '';

if (strlen((string) $val)) {
    $escapedVal = $escapeAttr($val);
    $replace['<option value="' . $escapedVal . '"'] = '<option value="' . $escapedVal . '" selected="selected"';
}

$disableds = $this->themeSetting('contribution_disabled_values', []);
if ($disableds) {
    foreach (array_map($escapeAttr, $disableds) as $escapedVal) {
        $replace['<option value="' . $escapedVal . '"'] = '<option value="' . $escapedVal . '" disabled="disabled"';
    }
}
?>

<li class="<?= implode(' ', $class) ?>" lang="<?= $escape($language) ?>" data-basetype="<?= $customVocabType ?>">
    <?php if (!empty($fieldContribution['@language'])): // Dans ce thème, le libellé multilang est affiché avec le champ. ?>
    <label><?= $escape($escapeAttr($fieldContribution['langLabel'])) ?></label>
    <input type="hidden" name="<?= str_replace(['@value', '@resource', '@uri'], ['@language', '@language', '@language'], $name) ?>" value="<?= $escapeAttr($fieldContribution['@language']) ?>"/>
    <?php endif; ?>
    <?= str_replace(array_keys($replace), array_values($replace), $selectHtml) ?>
    <ul class="actions resource-edit-remove-value">
        <li><button type="button" class="<?= $isRequired ? 'o-icon-clear' : 'o-icon-delete' ?> remove-value" title="<?= $escapeAttr($translate('Remove value')) ?>" href="#" aria-label="<?= $escapeAttr($translate('Remove value')) ?>"></button></li>
    </ul>
</li>
