<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Entity\User|null $user
 * @var \Contribute\Form\ContributeForm $form
 * @var \AdvancedResourceTemplate\Api\Representation\ResourceTemplateRepresentation|null $resourceTemplate
 * @var \Contribute\Api\Representation\ContributionRepresentation|null $contribution
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation|null $resource
 * @var array $fields
 * @var \Omeka\Api\Representation\ResourceTemplateRepresentation|null $templateMedia A sub template for media may have no fields.
 * @var array $fieldsByMedia
 * @var array $fieldsMediaBase
 * @var string $action "add" or "edit" or "show"
 * @var string $mode "read" (for template select or for show readonly form before submit) or "write"
 * @var string $space "default" or "guest"
 *
 * @var string $submitLabel
 * @var string $cancelLabel
 * @var bool $isMainForm
 * @var bool $skipContributeCss
 *
 * When called recursively for sub-fields (media):
 * @var ?int $indexMedia
 * @var array $fieldsMedia
 *
 * @var \Laminas\View\HelperPluginManager $plugins
 * @var \Laminas\View\Helper\Url $url
 * @var \Laminas\View\Helper\Partial $partial
 * @var \Laminas\View\Helper\EscapeHtml $escape
 * @var \Laminas\I18n\View\Helper\Translate $translate
 * @var \Laminas\View\Helper\EscapeHtmlAttr $escapeAttr
 * @var \Omeka\Api\Manager $apiManager
 * @var \Common\Stdlib\EasyMeta $easyMeta
 * @var array $valueResourceTypes
 * @var array $valueResourceQueries
 * @var callable $shortResourceTitle
 * @var string $baseUrlFiles
 * @var string $mode
 *
 * @var array $field
 * @var string $term
 * @var int $indexFieldInput
 * @var ?\Omeka\Api\Representation\ResourceTemplatePropertyRepresentation $templateProperty
 * @var ?\Omeka\Api\Representation\PropertyRepresentation $property
 * @var ?\Omeka\Api\Representation\ValueRepresentation $value
 * @var ?array $fieldContribution
 * @var ?int $indexContribution
 * @var bool $readonly
 */

$original = $fieldContribution['original'];
$proposed = $fieldContribution['proposed'];
$isPrivate = $value ? !$value->isPublic() : (isset($templateProperty) ? $templateProperty->isPrivate() : false);
$isRequired = !empty($field['required']) && (($indexContribution ?? null) === 0);

$baseName = $isMainForm
    ? sprintf('%s[%s]', $term, $indexFieldInput)
    : sprintf('media[%s][%s][%s]', $indexMedia, $term, $indexFieldInput);

$val = $proposed['@uri'] ?? $original['@uri'] ?? '';
$label = $proposed['@label'] ?? $original['@label'] ?? '';

$class = ['value'];
$class[] = 'uri';
if ($isPrivate) {
    $class[] = 'private';
}
$language = isset($proposed['@value']) ? null : (isset($original['value']) ? $original['value']->lang() : null);
?>

<li class="<?= implode(' ', $class) ?>" lang="<?= $escape($language) ?>" data-data-type="uri" role="group">
    <div class="input-body">
        <div class="input">
            <label class="value input-container">
                <?= $translate('URI') ?>
                <input type="text" class="form-control value" data-value-key="@uri" name="<?= $baseName . '[@uri]' ?> " value="<?= $escapeAttr($val) ?>"<?= $isRequired ? ' required="required"' : '' ?><?= empty($readonly) ? '' : ' readonly="readonly"' ?>/>
            </label>
        </div>
        <div class="input">
            <label class="value-label label-container">
                <?= $translate('Label') ?>
                <textarea class="form-control value-label" rows="1" data-value-key="@label" name="<?= $baseName . '[@label]' ?>"<?= empty($readonly) ? '' : ' readonly="readonly"' ?>><?= $escape($label) ?></textarea>
            </label>
        </div>
    </div>
    <ul class="actions resource-edit-remove-value">
        <li><button type="button" class="<?= $isRequired ? 'o-icon-clear' : 'o-icon-delete' ?> remove-value" title="<?= $escapeAttr($translate('Remove value')) ?>" href="#" aria-label="<?= $escapeAttr($translate('Remove value')) ?>"></button></li>
    </ul>
</li>
