<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Entity\User|null $user
 * @var \Contribute\Form\ContributeForm $form
 * @var \AdvancedResourceTemplate\Api\Representation\ResourceTemplateRepresentation|null $resourceTemplate
 * @var \Contribute\Api\Representation\ContributionRepresentation|null $contribution
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation|null $resource
 * @var array $fields
 * @var \Omeka\Api\Representation\ResourceTemplateRepresentation|null $templateMedia A sub template for media may have no fields.
 * @var array $fieldsByMedia
 * @var array $fieldsMediaBase
 * @var string $action "add" or "edit" or "show"
 * @var string $mode "read" (for template select or for show readonly form before submit) or "write"
 * @var string $space "default" or "guest"
 *
 * @var string $submitLabel
 * @var string $cancelLabel
 * @var bool $isMainForm
 * @var bool $skipContributeCss
 *
 * When called recursively for sub-fields (media):
 * @var ?int $indexMedia
 * @var array $fieldsMedia
 *
 * @var \Laminas\View\HelperPluginManager $plugins
 * @var \Laminas\View\Helper\Url $url
 * @var \Laminas\View\Helper\Partial $partial
 * @var \Laminas\View\Helper\EscapeHtml $escape
 * @var \Laminas\I18n\View\Helper\Translate $translate
 * @var \Laminas\View\Helper\EscapeHtmlAttr $escapeAttr
 * @var \Omeka\Api\Manager $apiManager
 * @var \Common\Stdlib\EasyMeta $easyMeta
 * @var array $valueResourceTypes
 * @var array $valueResourceQueries
 * @var callable $shortResourceTitle
 * @var string $baseUrlFiles
 * @var string $mode
 *
 * @var array $field
 * @var string $term
 * @var int $indexFieldInput
 * @var ?\Omeka\Api\Representation\ResourceTemplatePropertyRepresentation $templateProperty
 * @var ?\Omeka\Api\Representation\PropertyRepresentation $property
 * @var ?\Omeka\Api\Representation\ValueRepresentation $value
 * @var ?array $fieldContribution
 * @var ?int $indexContribution
 * @var bool $readonly
 */

$original = $fieldContribution['original'];
$proposed = $fieldContribution['proposed'];
$isPrivate = $value ? !$value->isPublic() : (isset($templateProperty) ? $templateProperty->isPrivate() : false);
$isRequired = !empty($field['required']) && (($indexContribution ?? null) === 0);

$propertyId = $property ? $property->id() : '__PROPERTYID__';
$baseName = $isMainForm
    ? sprintf('%s[%s]', $term, $indexFieldInput)
    : sprintf('media[%s][%s][%s]', $indexMedia, $term, $indexFieldInput);

$val = $proposed['@value'] ?? $original['@value'] ?? '';

$class = ['value', 'group-input-part'];
if ($isPrivate) {
    $class[] = 'private';
}

[$year, $month, $day] = explode('-', $val . '--', 3);
$year = trim((string) $year, "- \n\r\t");
$month = trim((string) $month, "- \n\r\t");
$day = trim((string) $day, "- \n\r\t");
?>

<?php
// Use a pseudo-hidden "tel" to validate via the form directly and reduce issues.
// The pattern is only for date for now, not full time.
// The year/month/date is filled via js (name and value).
?>
<li class="<?= implode(' ', $class) ?>" role="group">
    <input style="display:none;" type="tel" data-input-part="main" data-value-key="@value" name="<?= $baseName . '[@value]' ?>" aria-labelledby="property-<?= $propertyId ?>-label" <?= empty($readonly) ? '' : ' readonly="readonly"' ?> value="<?= $escapeAttr($val) ?>" pattern="^\d\d\d\d-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2\d)|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))$" />
    <div class="input-body">
        <div class="input">
            <label class="value input-container">
                <?= $translate('Year') ?>
                <input type="tel" pattern="^(?:19|20)\d\d$" class="form-control input-value" data-input-part="year" name="<?= $baseName . '[year]' ?>" aria-labelledby="property-<?= $propertyId ?>-label" <?= $isRequired ? ' required="required"' : '' ?><?= empty($readonly) ? '' : ' readonly="readonly"' ?> value="<?= $escapeAttr($year) ?>"/>
            </label>
        </div>
        <div class="input">
            <label class="value input-container">
                <?= $translate('Month') ?>
                <?php /*
                <input type="tel" pattern="^(?:0?[1-9]|1[0-2])$" class="form-control input-value" data-input-part="month" name="<?= $baseName . '[month]' ?>" aria-labelledby="property-<?= $propertyId ?>-label" <?= $isRequired ? ' required="required"' : '' ?><?= empty($readonly) ? '' : ' readonly="readonly"' ?> value="<?= $escapeAttr($month) ?>"/>
                */ ?>
                <select class="form-control input-value" data-input-part="month" name="<?= $baseName . '[month]' ?>" aria-labelledby="property-<?= $propertyId ?>-label" <?= $isRequired ? ' required="required"' : '' ?><?= empty($readonly) ? '' : ' readonly="readonly"' ?> data-placeholder="<?= $escapeAttr($translate('Choisir un mois')) ?>">
                    <option value=""><?= $escape($translate('Choisir un mois')) ?></option>
                    <option value="01"<?= (int) $month === 1 ? ' selected="selected"' : '' ?>><?= $escape($translate('Janvier')) ?></option>
                    <option value="02"<?= (int) $month === 2 ? ' selected="selected"' : '' ?>><?= $escape($translate('Février')) ?></option>
                    <option value="03"<?= (int) $month === 3 ? ' selected="selected"' : '' ?>><?= $escape($translate('Mars')) ?></option>
                    <option value="04"<?= (int) $month === 4 ? ' selected="selected"' : '' ?>><?= $escape($translate('Avril')) ?></option>
                    <option value="05"<?= (int) $month === 5 ? ' selected="selected"' : '' ?>><?= $escape($translate('Mai')) ?></option>
                    <option value="06"<?= (int) $month === 6 ? ' selected="selected"' : '' ?>><?= $escape($translate('Juin')) ?></option>
                    <option value="07"<?= (int) $month === 7 ? ' selected="selected"' : '' ?>><?= $escape($translate('Juillet')) ?></option>
                    <option value="08"<?= (int) $month === 8 ? ' selected="selected"' : '' ?>><?= $escape($translate('Août')) ?></option>
                    <option value="09"<?= (int) $month === 9 ? ' selected="selected"' : '' ?>><?= $escape($translate('Septembre')) ?></option>
                    <option value="10"<?= (int) $month === 10 ? ' selected="selected"' : '' ?>><?= $escape($translate('Octobre')) ?></option>
                    <option value="11"<?= (int) $month === 11 ? ' selected="selected"' : '' ?>><?= $escape($translate('Novembre')) ?></option>
                    <option value="12"<?= (int) $month === 12 ? ' selected="selected"' : '' ?>><?= $escape($translate('Décembre')) ?></option>
                </select>
            </label>
        </div>
        <div class="input">
            <label class="value input-container">
                <?= $translate('Day') ?>
                <?php /*
                <input type="tel" pattern="^(?:0?[1-9]|[1-2]\d|3[0-1])$" class="form-control input-value" data-input-part="day" name="<?= $baseName . '[day]' ?>" aria-labelledby="property-<?= $propertyId ?>-label" <?= $isRequired ? ' required="required"' : '' ?><?= empty($readonly) ? '' : ' readonly="readonly"' ?> value="<?= $escapeAttr($day) ?>"/>
                */ ?>
                <select class="form-control input-value" data-input-part="day" name="<?= $baseName . '[day]' ?>" aria-labelledby="property-<?= $propertyId ?>-label" <?= $isRequired ? ' required="required"' : '' ?><?= empty($readonly) ? '' : ' readonly="readonly"' ?> data-placeholder="<?= $escapeAttr($translate('Choisir un jour')) ?>">
                    <option value=""><?= $escape($translate('Choisir un jour')) ?></option>
                    <?php foreach (range(1, 31) as $dayCurrent): ?>
                    <option value="<?= sprintf('%02d',  $dayCurrent) ?>"<?= $dayCurrent === (int) $day ? ' selected="selected"' : '' ?>><?= $dayCurrent ?></option>
                    <?php endforeach; ?>
                </select>
            </label>
        </div>
    </div>
    <ul class="actions resource-edit-remove-value">
        <li><button type="button" class="<?= $isRequired ? 'o-icon-clear' : 'o-icon-delete' ?> remove-value" title="<?= $escapeAttr($translate('Remove value')) ?>" href="#" aria-label="<?= $escapeAttr($translate('Remove value')) ?>"></button></li>
    </ul>
</li>
