<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Form\LoginForm|null $form
 * @var \Omeka\Form\UserForm|null $formRegister
 */

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$trigger = $plugins->get('trigger');
$setting = $plugins->get('setting');
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$hyperlink = $plugins->get('hyperlink');
$pageTitle = $plugins->get('pageTitle');
$siteSetting = $plugins->get('siteSetting');
$htmlElement = $plugins->get('htmlElement');
$themeFunctions = $plugins->get('ThemeFunctions');

$htmlElement('body')->appendAttribute('class', 'guest login');

if ($form) $form->prepare();
if ($formRegister) $formRegister->prepare();

$siteSlug = $site->slug();

$ariane = '<nav class="breadcrumbs content-with-margin">
    <ul>
        <li><a href="' . $url('site', ['site-slug' => $siteSlug]) . '">' . $escape($translate('Accueil')) . '</a></li>
        <li><span>' . $escape($translate('Mon compte')) . '</span></li>
    </ul>
</nav>';

$themeFunctions->appendVarsToRootView([
    'ariane' => $ariane,
    'mainClass' => 'user-account user-infos',
]);
?>

<div class="content">

    <?= $this->pageTitle($this->siteSetting('guest_login_text') ?: ($this->setting('guest_login_text') ?: $translate('Login'))) ?>

    <?php if (class_exists('ShibbolethModule', false)): // Support de Shibboleth: utilise la redirection admin pour éviter une boucle. ?>
    <div class="page-block">
        <p class="forgot-password">
            <a href="<?= $url('admin') ?>">Se connecter via Shibboleth</a>
        </p>
    </div>
    <?php endif; ?>

    <?= $this->messages() ?>

    <div class="page-block">
        <?php if ($form): ?>
        <?= $this->form($form) ?>
        <p class="forgot-password">
            <?= $this->hyperlink($translate('Forgot password?'), $url('site/guest/anonymous', ['action' => 'forgot-password'], true)) ?>
        </p>
        <?php endif; ?>

        <?php $this->trigger('view.login.after'); ?>
    </div>

    <?php if ($formRegister): ?>
   <div class="guest-anonymous guest-register page-block">

        <?= $this->messages() ?>

        <div>
            <?= $siteSetting('guest_capabilities') ?: $setting('guest_capabilities') ?>
        </div>

        <?= $this->form()->openTag($formRegister) ?>
            <?= $this->formCollection($formRegister, false) ?>
            <?php $trigger('view.add.form.after'); ?>
            <div id="page-actions">
                <button type="submit"><?= $translate('Register') ?></button>
            </div>
        <?= $this->form()->closeTag() ?>

        <?php $trigger('view.add.after'); ?>

    </div>
    <?php endif; ?>

</div>
