<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SitePageBlockRepresentation $block
 * @var string $resourceType
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation[] $resources
 * @var string $heading
 * @var string $linkText
 * @var array $components
 * @var array $query
 * @var array $sortHeadings
 * @var array|false $pagination
 */

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$themeFunctions = $plugins->get('ThemeFunctions');

$site = $block->page()->site();
$siteSlug = $site->slug();
?>

<div class="content block preview-block">

    <?php if (!empty($heading)): ?>
    <h1><?= $heading ?></h1>
    <?php endif; ?>

    <ul class="resources-list preview">
    <?php
    $index = 0;
    foreach ($resources as $resource):
        ++$index;
        $resourceUrl = $resource->siteUrl($siteSlug);
        $documentType = $resource->displayResourceTemplateLabel();
        $accessLevel = $themeFunctions->accessLevel($resource);
        $accessLabel = $themeFunctions->accessLabel($accessLevel);
        $citation = $themeFunctions->citation($resource, true);
        ?>
        <li class="resource <?= $resourceType ?>">
            <div class="document-index"><?= $index ?>.</div>
            <div class="document-details">
                <div class="document-type-and-access">
                    <div class="document-type"><?= $escape($translate($documentType)) ?></div>
                    <div class="document-access access-<?= $accessLevel ?>"><?= $accessLabel ?></div>
                </div>
                <div class="document-link">
                    <a href="<?= $resourceUrl ?>" class="resource-link"><?= $citation ?></a>
                </div>
            </div>
        </li>
        <?php endforeach; ?>
        <li class="resources-list-more-link"><a href=""><?= $translate('Lire la suite') ?></a></li>
    </ul>

</div>
