<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SitePageBlockRepresentation $block
 */

// Comme block-aside-sommaire.
$html = $block->dataValue('html', '');

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$themeFunctions = $plugins->get('ThemeFunctions');

/** @var \BlockPlus\View\Helper\PageMetadata $pageMetadata */
$pageMetadata = $plugins->has('pageMetadata') ? $plugins->get('pageMetadata') : null;
?>

<aside class="aside-sommaire-page">
    <div class="open-science-menu-header">
        <a class="items-list-close-page-menu" href=""></a>
        <a class="items-list-toggle-page-menu" href="">Menu</a>
    </div>
    <nav>
        <div class="back-to-list">
            <a href="<?= $pageMetadata && ($p = $pageMetadata('subroot')) ? $p->siteUrl() : $url('site', [], true) ?>">Retour au sommaire</a>
        </div>
        <?php
        // Un seul niveau et sous-niveau.
        // Si html est vide, c'est une liste simple pour la page en cours.
        $sommaire = $themeFunctions->sommaire($html);
        if ($sommaire) {
            $currentPageSlug = $block->page()->slug();
            $prevLevel = 0;
            // On ne met pas le titre des pages (déjà inclus dans le html), donc la profondeur commence à 1.
            $deep = 1;
            $html = "            <ul>\n";
            foreach ($sommaire as $index => $current) {
                $next = $sommaire[$index + 1] ?? null;
                // On ne met pas le titre des pages, car déjà inclus dans la page.
                if (!$current['level']) continue;
                // Pas les "footnotes" non plus.
                if (strpos($current['#id'], '#footnotes') !== false) continue;

                $href = $currentPageSlug === $current['page_slug'] ? $current['#id'] : $current['page_url#id'];
                // Fermer les ul/li précédents quand on revient à un niveau supérieur.
                if ($prevLevel > $current['level']) {
                    $deep += $current['level'] - $prevLevel;
                    $html .= str_repeat("                    </ul>\n                </li>\n", $prevLevel - $current['level']);
                }
                // Commencer la ligne en cours. Eventuellement ajouter le numéro, mais dans ce cas <ol> est plus simple.
                $html .= '                <li>' // . " [$deep] "
                    . '<a href="' . $href . '">' . $escape($current['label']) . '</a>';
                // Ouvrir le prochain niveau ou fermer la ligne en cours.
                if ($next && $current['level'] < $next['level']) {
                    $deep += $next['level'] - $current['level'];
                    $html .= str_repeat("\n                    <ul>\n", $next['level'] - $current['level']);
                } else {
                    $html .= "</li>\n";
                }
                $prevLevel = $current['level'];
            }
            // Fermer toutes les listes.
            echo str_repeat("                    </ul>\n                </li>\n", $deep);
            $html .= "            </ul>\n";
            echo $html;
        } ?>
    </nav>
</aside>
