<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SitePageBlockRepresentation $block
 */

?>

<aside class="aside-interrogation">
    <div class="aside-content">
        <?= $block->dataValue('html', '') ?>
    </div>
</aside>
