<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation|null $site
 * @var \AdvancedSearch\Api\Representation\SearchConfigRepresentation $searchConfig
 * @var \AdvancedSearch\Query $query
 * @var \AdvancedSearch\Response $response
 * @var ?string $resourceType The resource type may be "resources" or a specific one.
 */

// A check is done: when page is not first, the resources may be empty even with results.
$resources = $response->getResources($resourceType);
if (!$resources) return;

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$assetUrl = $plugins->get('assetUrl');
$translate = $plugins->get('translate');
$hyperlink = $plugins->get('hyperlink');
$thumbnail = $plugins->get('thumbnail');
$themeFunctions = $plugins->get('ThemeFunctions');
$escapeValueOrGetHtml = $plugins->get('escapeValueOrGetHtml');

// Can be simplified in a public theme.
$setting = $plugins->get(isset($site) ? 'siteSetting' : 'setting');

$siteSlug = isset($site) ? $site->slug() : null;

$filterLocale = (bool) $setting('filter_locale_values');
$lang = $plugins->get('lang')();
$langValue = $filterLocale ? [$lang, ''] : null;

$untitled = $translate('[Untitled]');

$headingTerm = $setting('browse_heading_property_term');
$bodyTerm = $setting('browse_body_property_term');

$gridListMode = $searchConfig->subSetting('results', 'grid_list_mode', 'auto');

// A list has not html-code in a consistant user interface.
$allowHtml = (bool) $searchConfig->subSetting('results', 'allow_html');

$thumbnailMode = $searchConfig->subSetting('results', 'thumbnail_mode', 'default');
$noThumbnail = $thumbnailMode === 'none';
$allThumbnail = $thumbnailMode === 'all';
$defaultThumbnail = $allThumbnail
    ? sprintf('<img loading="lazy" src="%1$s" title="%2$s"/>', $assetUrl('thumbnails/default.png', 'Omeka', true), $translate('No media'))
    : '';

$thumbnailType = $searchConfig->subSetting('results', 'thumbnail_type', 'medium');

$documentTypes = [
    'item' => 'Document',
    'item-set' => 'Collection',
    'media' => 'Media',
    'site-page' => 'Page',
];

// L'affichage des résultats de recherche n'affiche que les dix premiers, puis un "lire la suite". Il y a la pagination bien sûr.
// Auparavant, on affichait toujours le next pour les items et, quand c'était séparé, seulement s'il y avait des items.
$next = true;
?>

<ul class="resource-list resources-list search-results-list<?= $gridListMode === 'list_only' ? ' list' : ($gridListMode === 'grid_only' ? ' grid' : '') ?>">
    <?php /** @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation $resource */
    $index = 0;
    foreach ($resources as $resource):
        ++$index;
        $resourceUrl = $resource->siteUrl($siteSlug);
        $resourceType = $resource->getControllerName();
        /*
        $heading = $headingTerm ? $resource->value($headingTerm, ['default' => $untitled, 'lang' => $langValue]) : $resource->displayTitle(null, $langValue);
        $body = $bodyTerm ? $resource->value($bodyTerm, ['lang' => $langValue, 'default' => '']) : $resource->displayDescription(null, $langValue);
        */
        if ($resourceType === 'item') {
            $documentType = $resource->displayResourceTemplateLabel();
            $accessLevel = $themeFunctions->accessLevel($resource);
            $citation = $themeFunctions->citation($resource, true);
        } else {
            $documentType = $documentTypes[$resourceType] ?? 'Autre type';
            $heading = $headingTerm ? $resource->value($headingTerm, ['lang' => $langValue]) : null;
            $citation = $heading ? $heading->asHtml() : $escape($resource->displayTitle($untitled, $lang));
            // $body = $bodyTerm ? $resource->value($bodyTerm, ['lang' => $langValue]) : null;
            // $body = $body ? $body->asHtml() : $escape($resource->displayDescription(null, $lang));
            $accessLevel = $resource->isPublic() ? 'free' : 'forbidden';
        }
        $accessLabel = $themeFunctions->accessLabel($accessLevel);
        // Pas de vignette: ce ne sont que des pdf avec un modèle de couverture.
        ?>
    <li class="resource <?= $resourceType ?>">
        <div class="document-index"><?= $index ?>.</div>
        <div class="document-details">
            <div class="document-type-and-access">
                <div class="document-type"><?= $escape($translate($documentType)) ?></div>
                <div class="document-access access-<?= $accessLevel ?>"><?= $accessLabel ?></div>
            </div>
            <div class="document-link">
                <a href="<?= $resourceUrl ?>" class="resource-link"><?= $citation ?></a>
            </div>
        </div>
    </li>
    <?php endforeach; ?>
    <?php if (!empty($next) && count($resources) > 10): ?>
    <li class="resources-list-more-link"><a href=""><?= $translate('Lire la suite') ?></a></li>
    <?php endif; ?>
</ul>
