<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation|null $site
 * @var \AdvancedSearch\Api\Representation\SearchConfigRepresentation $searchConfig
 * @var \AdvancedSearch\Query $query
 * @var \AdvancedSearch\Response $response
 * @var \Omeka\Api\Representation\ItemSetRepresentation $itemSet
 * @var string $resultPart "header" or "footer"
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$translatePlural = $plugins->get('translatePlural');

$feedResources = $plugins->has('feedResources') ? $plugins->get('feedResources'): null;
$exporters = $plugins->has('bulkExporters') ? $plugins->get('bulkExporters')() : [];

// Default values of the module.
$displayParts = [
    'search_filters' => 'header',
    'active_facets' => 'none',
    'total_results' => 'header',
    'search_form_simple' => 'none',
    'search_form_quick' => 'none',
    'paginator' => 'header',
    'per_page' => 'header',
    'sort' => 'header',
    'grid_list' => 'header',
    'grid_list_mode' => 'auto',
];
$displayParts = $searchConfig ? $searchConfig->setting('results', $displayParts) : $displayParts;
$displayParts = array_filter($displayParts, fn ($v) => in_array($v, [$resultPart, 'both']));

$paginationPerPages = isset($displayParts['per_page']) ? ($searchConfig->subSetting('results', 'per_page_list') ?: []) : [];
$sortFields = isset($displayParts['sort']) ? $searchConfig->subSetting('results', 'sort_list') : [];
$gridListMode = $searchConfig->subSetting('results', 'grid_list_mode', 'auto');
$multiMode = isset($displayParts['grid_list']) && !in_array($gridListMode, ['list_only', 'grid_only']);

$isHeader = $resultPart === 'header';
$isBrowse = $query->isBrowse();
?>

<?php if ($isHeader && !$isBrowse): ?>

<?php // Total results. ?>

<?php if (isset($displayParts['total_results'])): ?>
<?php $totalResults = $response->getTotalResults(); ?>
<p class="search-results-count-total search-results-details">
    <?= sprintf($translatePlural('Vous avez %s résultat.', 'Vous avez %s résultats.', $totalResults), $totalResults) ?>
</p>
<?php endif; ?>

<?php // Search filters. ?>

<?php if (isset($displayParts['search_filters'])): ?>
<?= $searchConfig->renderSearchFilters($query, ['template' => 'common/search-filters-links']) ?>
<?php endif; ?>

<?php // Active Facets. ?>

<?php if (isset($displayParts['active_facets']) && $activeFacets = $response->getActiveFacets()): // Inutile dans ce thème. ?>
<?php $facetActives = $plugins->get('facetActives'); ?>
<?= $facetActives(null, $activeFacets, $searchConfig->setting('facet', [])) ?>
<?php endif; ?>

<ul class="search-results-part <?= $isHeader ? 'search-results-header' : 'search-results-footer' ?> search-results-tools">

    <?php if ($exporters):
        $ids = $response->getAllResourceIds();
        if ($ids):
            $siteSlug = $site->slug();
            $urlHelper = $plugins->get('url');
            $idsString = implode(',', $ids);
        ?>
    <li>
        <div class="select-parent export-select">
            <select name="format">
                <option value="" data-url=""><?= 'Exporter' ?></option>
                <?php foreach ($exporters as $format => $label):
                    $urlFormat = $urlHelper('site/resource/output', ['site-slug' => $siteSlug, 'controller' => 'resource', 'format' => $format], ['query' => ['id' => $idsString]], true);
                    // $labelFormat = sprintf($translate('Télécharger au format %s'), in_array($format, ['ods', 'xlsx', 'xls']) ? 'tableur (' . $label . ')' : (in_array($format, ['bib.txt', 'bib.odt']) ? 'texte' : $label));
                    ?>
                <option value="<?= $format ?>" data-url="<?= $urlFormat ?>"><?= $label ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <ul class="form-buttons">
            <li><a href="" class="form-button export-button"><?= 'Exporter' ?></a></li>
        </ul>
    </li>
    <li class="search-results-tools-separator"></li>
    <?php endif; ?>
    <?php endif; // Fin exporteurs. ?>

    <?php if ($feedResources): ?>
    <li>
        <div class="select-parent syndication-select">
            <select>
                <option>RSS</option>
                <option>ATOM</option>
            </select>
        </div>
    </li>
    <li class="search-results-tools-separator"></li>
    <?php endif; ?>

    <?php // Ici, le bouton "modifier la recherche" renvoie au popup de la recherche principale de l'entête. ?>

    <li>
        <a href="" class="advanced-search-link"><?= $translate('Modifier la recherche') ?></a>
    </li>

    <?php // Search form simple. ?>

    <?php if (isset($displayParts['search_form_simple'])): ?>
    <?= $searchConfig->renderForm(['variant' => 'simple', 'skip_form_action' => true]) ?>
    <?php endif; ?>

    <?php // Search form quick. ?>

    <?php if (isset($displayParts['search_form_quick'])): ?>
    <?= $searchConfig->renderForm(['variant' => 'quick', 'skip_form_action' => true]) ?>
    <?php endif; ?>

</ul>

<?php endif; // Fin headers sauf browse. ?>

<ul class="search-results-part <?= $isHeader ? 'resources-pagination-header' : 'resources-pagination-footer' ?> resources-list-tools">

    <?php if (count($sortFields) || count($paginationPerPages)): ?>
    <li>
        <div class="resources-list-selects">

            <?php // Sort. ?>

            <?php if (count($sortFields)): ?>
            <?= $this->searchSortSelector($query, $sortFields, ['as_url' => true, 'label' => $searchConfig->subSetting('results', 'label_sort')]) ?>
            <?php endif; ?>

            <?php // Pagination per page. ?>

            <?php if (count($paginationPerPages)): ?>
            <?= $this->searchPaginationPerPageSelector($query, $paginationPerPages, true) ?>
            <?php endif; ?>

        </div>
    </li>
    <?php endif; // Fin sort fields ou pagination par page. ?>

    <?php // Pagination. ?>

    <?php if (isset($displayParts['paginator'])): ?>
    <li>
        <div class="search-results-count <?= isset($displayParts['total_results']) ? 'no-total-results' : '' ?> <?= $isHeader ? 'resources-pagination-header' : 'resources-pagination-footer' ?>">
        <?php
        if ($itemSet && $site):
            $redirectItemSets = $this->siteSetting('advancedsearch_redirect_itemsets', ['default' => 'browse']);
            $redirectItemSet = $redirectItemSets[$itemSet->id()] ?? $redirectItemSets['default'] ?? 'browse';
            echo $redirectItemSet === 'all'
                ? $this->paginationSearch('common/pagination')
                : $this->pagination('common/pagination');
        else:
            echo $this->pagination('common/pagination');
        endif;
        ?>
        </div>
    </li>
    <?php endif; ?>

    <?php // Grid/list. ?>

    <?php if ($multiMode): // Inutile dans ce thème. ?>
    <li class="search-results-display">
        <a class="search-view-type search-view-type-list<?= $gridListMode === 'list' ? ' active' : '' ?>" href="#"><?= $translate('list') ?></a>
        |
        <a class="search-view-type search-view-type-grid<?= $gridListMode === 'grid' ? ' active' : '' ?>" href="#"><?= $translate('grid') ?></a>
    </li>
    <?php endif; ?>

</ul>
