<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation|null $site
 * @var \AdvancedSearch\Api\Representation\SearchConfigRepresentation $searchConfig
 * @var \Omeka\Api\Representation\ItemSetRepresentation|null $itemSet
 * @var \AdvancedSearch\Query $query
 * @var \AdvancedSearch\Response $response
 *
 * For block layout:
 * @var bool $skipFormAction Remove action of the form, so it uses current page.
 */

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$partial = $plugins->get('partial');
$escape = $plugins->get('escapeHtml');
$assetUrl = $plugins->get('assetUrl');
$translate = $plugins->get('translate');
$themeFunctions = $plugins->get('ThemeFunctions');

$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;

$vars = $this->vars();

$isAdmin = !isset($site);
$setting = $plugins->get($isAdmin ? 'setting' : 'siteSetting');

$filterLocale = (bool) $setting('filter_locale_values');
$lang = $this->lang();
$langValue = $filterLocale ? [$lang, ''] : null;

$variables = $vars->getArrayCopy();

$isPartial = $skipFormAction = !empty($skipFormAction);

$documentCount = $response->getTotalResults();
$displayParts = $searchConfig->setting('results', []);
$displayPartsHeader = array_filter($displayParts, fn ($v) => in_array($v, ['header', 'both']));
$displayPartsFooter = array_filter($displayParts, fn ($v) => in_array($v, ['footer', 'both']));
$displayFacets = $displayParts ? $displayParts['facets'] ?? 'before' : 'none';

if ($itemSet && $site) {
    $redirectItemSets = $this->siteSetting('advancedsearch_redirect_itemsets', ['default' => 'browse']);
    $redirectItemSet = $redirectItemSets[$itemSet ? $itemSet->id() : null] ?? $redirectItemSets['default'] ?? 'browse';
    $displayItemSet = $redirectItemSet === 'all' || ($redirectItemSet === 'first' && $response->getCurrentPage() === 1);
} else {
    $displayItemSet = false;
}

$this->headLink()
    ->appendStylesheet($assetUrl('css/search.css', 'AdvancedSearch'));
$this->headScript()
    ->appendFile($assetUrl('js/search.js', 'AdvancedSearch'), 'text/javascript', ['defer' => 'defer']);


$themeFunctions->appendVarToRootView('mainClass', 'resources-list-and-filters');

$isBrowse = $query->isBrowse();

$ariane = '<nav class="breadcrumbs content-with-margin">
    <ul>
        <li><a href="' . $url('site', ['site-slug' => $site->slug()]) . '">' . $escape($translate('Accueil')) . '</a></li>
        <li><span>' . $translate($isBrowse ? 'Consulter un document' : 'Résultats de recherche') . '</span></li>
    </ul>
</nav>';
$themeFunctions->appendVarToRootView('ariane', $ariane);
?>

<?php /*
<?php if (empty($isPartial)): ?>
<?php if ($searchConfig->subSetting('results', 'breadcrumbs')): ?>
<?php if ($breadcrumbs): ?>
    <?= $breadcrumbs() ?>
<?php else: ?>
<div class="breadcrumbs-parent">
    <nav id="breadcrumb" class="breadcrumbs" aria-label="<?= $translate('Breadcrumb') ?>">
        <ul>
            <?php if (!$isAdmin): ?>
            <li><?= $hyperlink($translate('Home'), $site->siteUrl()) ?></li>
            <?php endif; ?>
            <?php if ($itemSet): ?>
            <li><?= $hyperlink($translate('Collections'), $url($isAdmin ? 'admin/default' : 'site/resource', ['controller' => 'item-set', 'action' => 'browse'], true)) ?></li>
            <?php // It may be a span or a link + search. ?>
            <li><span aria-current="page"><?= $escape($itemSet->displayTitle(null, $langValue)) ?></span></li>
            <?php /*
            <li><?= $hyperlink($itemSet->displayTitle(null, $langValue), $isAdmin ? $itemSet->adminUrl() : $itemSet->siteUrl($site->slug())) ?></li>
            * / ?>
            <?php else: ?>
            <li><span aria-current="page"><?= $escape($translate('Search')) ?></span></li>
            <?php endif; ?>
        </ul>
    </nav>
</div>
<?php endif; ?>
<?php endif; ?>

<div id="search-page">
<?php endif; // End NOT partial. ?>
*/ ?>

<?php /* // Le formulaire de recherche principal est dans l'entête.
<?= $searchConfig->renderForm(['template' => null, 'skip_form_action' => $skipFormAction]) ?>
*/ ?>

    <?php if ($displayFacets === 'before'): ?>
    <?= $partial('search/facets-list') ?>
    <?php endif; ?>

<div class="search-results-wrapper content">

    <?php /* Ancien de repository utile ?
    <a class="resources-list-toggle-filters" href=""><?= $translate('Filtres') ?></a>
    */ ?>

    <?php if ($displayItemSet): ?>

        <?php
        $vars->offsetSet('resourceType', 'item_sets'); // TODO Check if really needed.
        $this->htmlElement('body')->appendAttribute('class', 'search-page item-set resource browse');
        ?>
        <?= $this->pageTitle($itemSet->displayTitle(null, $langValue), 2) ?>
        <?php /*
        <h3><?= $translate('Item set') ?></h3>
        */ ?>
        <div class="metadata">
            <?= $this->resourcePageBlocks($itemSet)->getBlocks() ?>
        </div>
        <div class="item-set-items">
            <h3><?= $translate('Documents') ?></h3>
        </div>

    <?php else: ?>

        <?php $this->htmlElement('body')->appendAttribute('class', 'search-page resource browse'); ?>
        <?= $this->pageTitle($translate($isBrowse
            ? 'Documents'
            : 'Résultats de recherche')) ?>

    <?php endif; ?>

        <?php if ($documentCount && $displayPartsHeader): ?>
        <?php /*
        <div class="search-results-part search-results-header">
        */ ?>
            <?= $partial('search/results-header-footer', $variables + ['resultPart' => 'header']) ?>
        <?php /*
        </div>
        */ ?>
        <?php endif; ?>

        <?php if ($documentCount): ?>

        <?php /*
        <div class="search-results-part search-results-list">
        */ ?>
            <?php foreach (array_filter($response->getResourceTotalResults()) as $resourceType => $count): ?>
            <h3><?= $escape(sprintf($translate('%1$d %2$s'), $count,
                $resourceType === 'item_sets' && $count <= 1
                    ? $translate('collection')
                    : ($resourceType === 'item_sets'
                        ? $translate('collections')
                        : $translate($count <= 1 ? 'document' : 'documents')))) ?></h3>
            <?= $partial('search/results', $variables + ['resourceType' => $resourceType]) ?>
            <?php endforeach; ?>
        <?php /*
        </div>
        */ ?>

        <?php else: ?>

        <ul class="noresults resources-list-tools">
            <li>
            <?php if (empty($query) && !$itemSet): ?>
            <?= $translate('Fill a query and get results.') ?>
            <?php elseif (empty($query) && $itemSet): ?>
            <?= $translate('This item set has no items.') ?>
            <?php else: ?>
            <?php if (in_array($searchConfig->subSetting('results', 'search_filters', 'header'), ['header', 'both'])): ?>
            <div class="search-results-part search-results-header">
                <?= $searchConfig->renderSearchFilters($query, ['template' => 'common/search-filters-links']) ?>
            </div>
            <?php endif; ?>
            <?= $translate('The query returned no results') ?>
            <?php endif; ?>
            </li>
        </ul>

        <?php endif; ?>

        <?php if ($documentCount && $displayPartsFooter): ?>
        <div class="search-results-part search-results-footer">
            <?= $partial('search/results-header-footer', $variables + ['resultPart' => 'footer']) ?>
        </div>
        <?php endif; ?>

    </div>

    <?php if ($displayFacets === 'after'): ?>
    <?= $partial('search/facets-list') ?>
    <?php endif; ?>

</div>

<?php /*
<?php if (empty($isPartial)): ?>
</div>
<?php endif; ?>
*/ ?>
