<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Laminas\Form\Form $form
 * @var \AdvancedSearch\Api\Representation\SearchConfigRepresentation $searchConfig
 *
 * The simple form is similar to the standard search form and keeps only:
 * - the main field ("q"),
 * - the hidden elements,
 * - the button submit.
 */

// Recherche principale: affiche le premier champ (le principal) du formulaire et ses champs obligatoires ou cachés.

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$formSearch = $plugins->get('formSearch');

$params = $this->params()->fromQuery() ?: [];
$form
    ->setData($params)
    ->prepare();

$form
    ->setAttribute('class', $form->getAttribute('class') . ' search-form');

$mainElement = $form->get('q');
?>

<div class="search-form-parent">
    <?= $this->form()->openTag($form) ?>
        <div class="form-input-and-buttons">
            <?= $formSearch($mainElement->setAttribute('class', $mainElement->getAttribute('class') . ' search-text')->setAttribute('placeholder', $translate('Search'))->setAttribute('aria-label', $translate('Search'))) ?>
            <div class="form-buttons">
                <button type="submit" class="icon-search-btn" aria-label="<?= $translate('Lancer la recherche dans le corpus') ?>">
                    <span class="icon-loupe"></span>
                </button>
                <?php /*
               <button class="icon-close-btn" aria-label="<?= $translate('Effacer les termes de recherche') ?>"></button>
               */ ?>
            </div>
        </div>
    <?= $this->form()->closeTag() ?>
    <?php // TODO Mettre un bouton?>
    <a href="<?= $searchConfig->siteUrl() ?>" class="advanced-search-link">
        <?= $translate('Advanced search') ?>
    </a>
</div>
