<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 */

// <footer> est inclus via le gabarit "layout".
?>

<ul>
    <li><a href="/s/fr/page/mentions-legales">Mentions légales</a></li>
    <li><a href="/s/fr/page/conditions-de-reutilisation">Conditions de réutilisation</a></li>
</ul>
