<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Entity\User $user
 * @var array $widgets
 */

// Dans le site, il n'est pas possible d'avoir un compte spécifique et tous les utilisateurs sont authentifiés par Shibboleth.

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$pageTitle = $plugins->get('pageTitle');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$themeFunctions = $plugins->get('ThemeFunctions');

$siteSlug = $site->slug();

// $guestWidget = $plugins->get('guestWidget');

$this->htmlElement('body')->appendAttribute('class', 'guest account');

$ariane = '<nav class="breadcrumbs content-with-margin">
    <ul>
        <li><a href="' . $url('site', ['site-slug' => $siteSlug]) . '">' . $escape($translate('Accueil')) . '</a></li>
        <li><a href="' . $url('site/guest', ['site-slug' => $siteSlug, 'action' => 'me']) . '">' . $escape($translate('Mon compte')) . '</a></li>
        <li><span>' . $escape($translate('Profil')) . '</span></li>
    </ul>
</nav>';

$themeFunctions->appendVarsToRootView([
    'ariane' => $ariane,
    'mainClass' => 'user-account user-infos',
]);
?>

<div class="content">

    <?= $pageTitle($user->getName(), 1) ?>

    <?= $this->messages() ?>

    <?= $this->partial('guest/site/guest/menu') ?>

    <div class="user-content">
        <ul class="user-infos">
            <li>
                <label><?= $translate('Nom') ?></label>
                <span><?= $escape($user->getName()) ?></span>
            </li>
            <li>
                <label><?= $translate('Adresse du courriel') ?></label>
                <span><?= $escape($user->getEmail()) ?></span>
            </li>
        </ul>
    </div>
    <div class="logout form-buttons">
        <a class="form-button" href="<?= $escapeAttr($url('site/guest/guest', ['action' => 'logout'], true)) ?>"><?= $escape($translate('Se déconnecter')) ?></a>
    </div>
</div>
